@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {  
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Heywow';
  src: url('../../public/fonts/heywow/HeyWowRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Heywow';
  src: url('../../public/fonts/heywow/HeyWowLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Heywow';
  src: url('../../public/fonts/heywow/HeyWowMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Heywow';
  src: url('../../public/fonts/heywow/HeyWowSemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Heywow';
  src: url('../../public/fonts/heywow/HeyWowBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Heywow';
  src: url('../../public/fonts/heywow/HeyWowExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Heywow';
  src: url('../../public/fonts/heywow/HeyWowBook.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Garibaldi';
  src: url('../../public/fonts/garibaldi-medium/Garibaldi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}